
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #00FF00;
    color: #fff;
    height: 80px;
}
.header-Logo{
    float: left;
    font-size: 36px;
    padding: 20px 40px;
    cursor: pointer;
    font-weight: bolder;
    border: 2px solid #fff;
}
.header-lists li{
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
    padding-top: 28px;
    list-style: none;
    cursor:pointer;
    display: flex;
    border: 2px solid #fff;
    transition: 0.1s  ease-out;
    text-decoration: none;
    
}
.header-lists ul li:hover{
    opacity: 0.9;
    color: blue;
    cursor: pointer;
    border-top: 2px solid #ff6347;
    
}
.link{
    text-decoration: none;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.main{
    
    position: absolute;
   bottom:60%;
   left: 65%;
   transform: translate(-50%,-50%);
   width: 100%;
   
   text-align: center;
   justify-content: center;
    
    
   
}
.gone{
    background-color: #4070f4;
}
.input-box{
    position: relative;
    height: 76px;
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.input-box i,.input-box .button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.input-box i{
    left: 20px;
    font-size: 30px;
    color: #ff6347;
}
.input-box input{
    height: 100%;
    width: 100%;
    
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}
.input-box .button{
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border:none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
}
.input-box .button.clicked{
    transform: translateY(-50%) scale(0.98);
}
@media  screen and (max-width:500px) {
    .input-box{
        height: 66px;
        margin: 0 88px;
    }
    .input-box i{
        left: 12px;
        font-size: 25px;
    }
    .input-box input{
        padding: 0 112px 0 50px;
    }
    .input-box .button{
        right: 12px;
        font-size: 14px;
        pad: 8px 18px;

    }
}
table{
    
    position: absolute;
    top: 40%;
    left: 00%;
    right: 90%;
    transform: translateY(-50% -50%);
    justify-content: center;
    text-align: center;
    
   
}
.content-table{
    width: 100%;
    padding-top: 50px;
    border-collapse: collapse;
    border: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    justify-content: center;
    text-align: center;
   
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.content-table thead tr{
    background-color: #009879;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.culture{
    color: blue;
}
.content-table tbody tr{
    border-bottom: 1px solid #fff;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}
.content-table tbody tr.active-row{
    font-weight: bold;
    color: #009879;
}